<div class="card">
    <h5 class="card-header">My Cart</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
        <thead class="text-center">
            <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0 text-center">
                <tr>
                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                <td class="text-center">
                    <div class="count-input">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="button" >-</button>
                        </div>
                        <input type="text" class="form-control text-center" >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" >+</button>
                        </div>
                      </div>
                    </div>
                </td>
                <td><i class="fab fa-react fa-lg text-info"></i> <strong>&#8369; 200</strong></td>
                <td> <button type="button" class="btn btn-sm btn-outline-danger">Remove from cart</button></td>
                </tr>
                
                <tr>
                <td><i class="fab fa-react fa-lg text-info me-3"></i> <strong>React Project</strong></td>
                <td class="text-left">
                    <div class="count-input">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="button" >-</button>
                        </div>
                        <input type="text" class="form-control text-center" >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" >+</button>
                        </div>
                      </div>
                    </div>
                </td>

                  <td><i class="fab fa-react fa-lg text-info"></i> <strong>&#8369; 200</strong></td>
                <td> <button type="button" class="btn btn-sm btn-outline-danger">Remove from cart</button></td>
                </tr>

                <tr>
                <td><i class="fab fa-vuejs fa-lg text-success me-3"></i> <strong>VueJs Project</strong></td>
                <td class="text-center">
                    <div class="count-input">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="button" >-</button>
                        </div>
                        <input type="text" class="form-control text-center" >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" >+</button>
                        </div>
                      </div>
                    </div>
                </td>
                <td><i class="fab fa-react fa-lg text-info"></i> <strong>&#8369; 200</strong></td>
                <td> <button type="button" class="btn btn-sm btn-outline-danger">Remove from cart</button></td>
                </tr>

                <tr>
                <td>
                    <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Bootstrap Project</strong>
                </td>
                <td class="text-center">
                    <div class="count-input">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="button" >-</button>
                        </div>
                        <input type="text" class="form-control text-center" >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" >+</button>
                        </div>
                      </div>
                    </div>
                </td>
                <td><i class="fab fa-react fa-lg text-info"></i> <strong>&#8369; 200</strong></td>
                <td> <button type="button" class="btn btn-sm btn-outline-danger">Remove from cart</button></td>
                </tr>

            </tbody>
        </table>
        </div>
    </div>
