<footer class="content-footer footer ">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        <span class="us-text-primary">© 2022.</span> Unishop. All Rights Reserved.
      </div>
      <div>
        <a href="#" class="footer-link me-4">Terms and Conditions</a>
        <a href="#" class="footer-link me-4">Help Center</a>
        <a
          href="#"
          target="_blank"
          class="footer-link me-4"
          >Support</a
        >
      </div>
    </div>
  </footer>