.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: blue;
}

.card {
    padding: 20px;
    margin: 30px;
}


.card img {
    width: 190px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.menu-inner{
    cursor: pointer;
}

.layout-menu, .navbar {
    z-index: unset !important;
}

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 80px;
}

.layout-page {
    margin-left: 250px;
}

@media (max-width: 1199.98px)
{
    .layout-page {
        margin-left: unset;
    }
}
