<div class="container">
        <h4>Order Summary</h4>
        <hr class="padding-bottom-1x">
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Qty</th>
                <th>Total</th>
                
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of products; let i = index">
                <td>{{item.productName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.qty}}</td>
                <td>{{itemTotal}}</td>    
            </tr>
            </tbody>
        </table>
        </div>

        <div class="checkout-footer">
            <div class="column text-lg">Subtotal:
                <span class="text-medium">&#8369; {{subTotal}}</span>
            </div>
            <button type="button" class="btn btn-warning" (click)="placeOrder()">Place Order</button><br>
            <button type="button" class="btn btn-outline-secondary" (click)="backToCart()"> Back to Cart </button>
        </div>
</div>

 