<div class="table-responsive text-nowrap table-view">
    <table class="table">
        <thead>
            <tr>
                <th class="t-header" *ngFor="let col of columns" (click)="orderBy(col.dIcon = !col.dIcon, col)">
                    <span>{{ col.key }}</span>&nbsp;
                    <ng-container *ngIf="col.isBtn">
                        <i id="col" [ngClass]="{'bx-chevron-down': !col.dIcon, 'bx-chevron-up': col.dIcon}"
                            class="tf-icon bx"></i>
                    </ng-container>
                </th>
                <th *ngIf="buttons">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data">
                <td *ngFor="let x of tableRowData(d)">
                    <p>{{x}}</p>
                </td>
                <td class="d-flex flex-row justify-content-around" *ngIf="buttons">
                    <button *ngFor="let btn of buttons" class="btn" [ngClass]="btn?.bgColor"(click)="actions(d, btn.type)">
                        <i *ngIf="btn.icon" class="menu-icon tf-icons bx" [ngClass]="btn.icon"></i>
                    </button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <div *ngIf="getDataLength()" class="no-data text-center p-4">No Data Found</div>
</div>

<section class="card-view-container" *ngFor="let d of data">
    <ng-container *ngFor="let x of tableRowData(d); let i = index">
        <div class="card-view-body" >
            <div class="card-title-key">
                {{columns[i].key}}
            </div >
            <div class="card-title-val">
                {{x}}
            </div>
        </div>
    </ng-container>
    
</section>