<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link">
        <span class="app-brand-text text-uppercase demo menu-text fw-bolder ms-2">UNISHOP</span>
      </a>

      <a href="javascript:void(0);" (click)="hide()" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a [routerLink]="['admin/dashboard']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <li class="menu-item mt-3">
        <a [routerLink]="['admin/products']" routerLinkActive="active-link" class="menu-link">
          <i class="menu-icon tf-icons bx bx-layout"></i>
          <div data-i18n="Layouts">Products</div>
        </a>
      </li>

      <li class="menu-item mt-3">
        <a [routerLink]="['admin/users']" routerLinkActive="active-link" class="menu-link">
          <i class="menu-icon tf-icons bx bxs-user-account"></i>
          <div data-i18n="Layouts">Users</div>
        </a>
      </li>
      
    </ul>
  </aside>
