<section class="hero-serction-main-container">
    <div class="hero-body container">
        <div class="left">
            <div class="title-wrapper ">
                <h1>Buy the stuff you love with One Stop Unishop</h1> 
            </div>
            <div class="btn-shop">
                <button type="button" (click)="goToProducts()" class="btn rounded-pill btn-xl btn-warning">Start Shopping</button>
            </div>
        </div>
        <div class="right">
            <div class="img-wrapper">
                <img width="501" height="422" src="../../../assets/images/hero-banner.png"
                    alt="">
            </div>
        </div>
    </div>
</section>