<section class="hero-serction-main-container">
    <div class="hero-body container">
        <div class="left">
            <div class="title-wrapper ">
                <h1>One Stop UniShop</h1>
            </div>
            <div class="search-container">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-us-primary" type="button" id="button-addon2">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="img-wrapper">
                <img width="501" height="422" src="../../../assets/images/hero-banner.png"
                    alt="">
            </div>
        </div>
    </div>
</section>