.card {
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: auto;
    width: auto;
    box-shadow: 10px 10px 20px #cccccc;
}

.card img {
    max-width: 170px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.btn{
    margin-bottom: 20px;
}

.inner-img {
    max-width: 500px;
    max-height: 500px;
}