#layout-menu{
    width: 15%;
    bottom: 0;
    top: 0;
}


img {
    border: 2px solid #ffc836;
    width: 200px !important;
    height: 150px;
}

// .layout-wrapper {
//     position: relative;
//     z-index: 30 !important;
// }