<div class="card">
  <h5 class="card-header">My Cart</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover"  *ngIf="products?.length; else noItemsInCart" >
      <thead class="text-center">
        <tr>
          <th>Item Image</th>
          <th>Product name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>Action</th>
          <th>
            <button (click)="emptyCart()" class="btn btn-xs btn-danger">Clear Cart</button>
          </th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0 text-center">
      
        <tr *ngFor="let item of products; let i = index">
          <td> <img style="width: 120px" src="{{item.image}}" alt=""> </td>
          <td>{{item.productName}}</td>
          <td class="text-center">
            <div class="count-input">
              <div class="input-group">
                  <button class="btn btn-outline-secondary"  type="button">-</button> 
                  <input 
                  type="number" 
                  class="form-control text-center" 
                  value={{item.quantity}}
                  min="1"
                  >
                  <button class="btn btn-outline-secondary"  type="button" >+</button> 
              </div>
            </div>
          </td>
          <!-- <td><input class="form-control" id="qty" type="number" value="{{item.quantity}}" min="1"></td> -->
          <td> &#x20B1;{{item.price}} </td>
          <td> &#x20B1;{{itemTotal}} </td>

          
          
          <td>
            <button (click)="removeItem(item)" class="btn btn-xs btn-outline-danger">Remove Item</button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="5"></td>
          <td><strong>Subtotal : &#x20B1;{{subTotal}}</strong></td>
          <td></td>
          
      </tr>
      </tbody>
    </table>

      <ng-template #noItemsInCart> 
          <img class="image" src="https://cdni.iconscout.com/illustration/free/thumb/empty-cart-4085814-3385483.png" alt="">
          <h4>There are no items in your cart..</h4>
          <button  class="btn btn-warning" (click)="goToProducts()">Shop Now</button>
      </ng-template>

  </div>

  <div class="table-footer" *ngIf="products?.length;">
    <div class="shopping-cart-footer">
      <div class="column">
          <button  class="btn btn-outline-secondary" (click)="goToProducts()">Continue Shopping</button>
      </div>
      <div class="column">
        <a class="btn btn-warning" (click)="goToCheckout()" >Proceed to Checkout</a>
      </div>
      
    </div>
  </div>



</div>

<!-- Mobile View -->

<div class="container">
  <h5 class="card-header">My Cart</h5>
  <div class="container-card " *ngIf="products?.length; else noItemsInCartMobile">
    <div class="row" >
      <div class="col-12 col-md-12 col-lg-12 ">
         <div class="card-body" *ngFor="let item of products">
          <h5 class="card-title">{{item.productName}}</h5>
          <p class="card-text">{{item.description}}</p>
          <h5 class="pb-1 mb-4">Price: &#8369; {{item.price}}</h5>
          <button (click)="removeItem(item)" class="btn btn-outline-danger">Remove Item</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <div class="button-options" *ngIf="products?.length;">
    <h5 class="pb-1 mb-4">Total: &#8369;   </h5>
    <button class="btn-options btn-sm btn-warning mb-3" (click)="goToCheckout()">Proceed to Checkout</button><br>
    <button class="btn-options btn-sm btn-outline-secondary" (click)="goToProducts()">Continue Shopping</button><br><br>
    <button class="btn-options btn-sm btn-outline-danger" (click)="emptyCart()">Clear Cart</button>
  </div>

</div>

<ng-template #noItemsInCartMobile>
  <img style="width: 100px;" src="https://cdni.iconscout.com/illustration/free/thumb/empty-cart-4085814-3385483.png">
  <h4>There are no items in your cart..</h4>
  <button routerLink="home" class="btn btn-warning">Shop Now</button>
</ng-template>
