<div class="container">
<div class="authentication-wrapper authentication-basic container-p-y">
<div class="authentication-inner">
<!-- Register -->
<div class="card">
<div class="card-body">
<!-- Logo -->
<div class="app-brand justify-content-center">
    <a href="index.html" class="app-brand-link gap-2">
    <span class="app-brand-logo demo">
        <img src="../../../assets/images/Logo.png" alt="Logo.png" style="height: 70px; width:70px;">
    </span>
    </a>
</div>
<!-- /Logo -->
<h4 class="mb-2">Welcome to Unishop</h4>
<p class="mb-4">Please sign-in to your account and start shopping</p>

<form [formGroup]= "loginForm" class="mb-3" >
    <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter your email"
    />
    </div>
    <div class="mb-3 form-password-toggle">
    <div class="d-flex justify-content-between">
        <label class="form-label" for="password">Password</label>
        <a href="forgotpassword">
        <small>Forgot Password?</small>
        </a>
    </div>
    <div class="input-group input-group-merge">
        <input
        type="password"
        id="password"
        class="form-control"
        name="password"
        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
        aria-describedby="password"
        />
        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
    </div>
    </div>
    <div class="mb-3">
    </div>
    <div class="mb-3">
    <button class="btn btn-warning d-grid w-100" type="submit">Sign in</button>
    </div>
</form>

<p class="text-center">
    <span>New on our platform?</span>
    <a href="register">
    <span>Create an account</span>
    </a>
</p>
</div>
</div>
<!-- /Register -->
</div>
</div>
</div>
