<div class="container">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register Card -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="index.html" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <img src="../../../assets/images/Logo.png" alt="Logo.pnh" style="height: 70px; width:70px;">
                </span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">Delight starts here</h4>
            <p class="mb-4">Make shopping easier</p>

            <form [formGroup]="registerForm" class="mb-3">
              <div class="mb-3">
                <label for="firtName" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                  placeholder="Enter your First Name"
                  autofocus
                />
              </div>
              <div class="mb-3">
                <label for="middleName" class="form-label">Middle Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="middleName"
                  placeholder="Enter your Middle Name"
                  autofocus
                />
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName ="lastName"
                  placeholder="Enter your Last Name"
                  autofocus
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input 
                type="text" 
                class="form-control" 
                formControlName ="email" 
                placeholder="Enter your email" 
                />
              </div>
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="password">Password</label>
                <div class="input-group input-group-merge">
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password"
                  />
                  <span class="input-group-text cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                      <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                      <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                      <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                    </svg>
                  </span>
                </div>
              </div>
              <br>
              <button class="btn us-btn-primary d-grid w-100" (click)="register()" >Sign up</button>
            </form>

            <p class="text-center">
              <span>Already have an account? </span>
              <a href="auth/login">
                <span>Sign in</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>